#body_container {
    height: 100%;
    padding: 0 !important;
    min-width: 1200px;
}

#body_container>div {
    min-height: 100%;
}

.gRvgXC {
    height: 30px;
    background-color: rgb(241, 241, 241);
    width: 100%;
    min-width: 1200px;
}

.hFxRwf {
    position: relative;
    box-sizing: border-box;
    width: 1200px;
    height: 100%;
    margin: 0px auto;
}

.kzjrje {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.kzjrje > div:not(:last-child) {
    border-right: 1px solid rgb(191, 191, 191);
}

.kzjrje > div {
    height: 18px;
    padding: 0px 22px;
}

.kzjrje > div > a {
    display: block;
    height: 100%;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    color: rgb(112, 112, 112);
    line-height: 18px;
}

.gRvgXC1 {
    height: 112px;
    background-color: rgb(255, 255, 255);
}

.cVZdQh {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cVZdQh > div:first-child {
    width: 350px;
    padding-left: 30px;
}

.cVZdQh > div:first-child > a {
    display: inline-block;
}

.Open-Menu {
    display: none;
}

.iYPcvf {
    width: 500px;
    font-size: 0;
}

.iYPcvf > input {
    display: inline-block;
    width: 470px;
    height: 40px;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 0px 20px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 2px solid rgb(151, 151, 151);
    outline: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -1px;
    background-color: rgb(255, 255, 255);
    color: rgb(89, 87, 87);
}

.iYPcvf > button {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 40px;
    outline: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(151, 151, 151);
    cursor: pointer;
}

.iYPcvf > button > img {
    margin-top: 5px;
}

.cVZdQh > div {
    box-sizing: border-box;
}

.slick_slider {
    position: relative;
    display: block;
}

.tag_slider .slick_arrow {
    width: 0;
    height: 0;
    right: 17px;
    left: unset;
    z-index: 10;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    /* -webkit-transform: none;
    -ms-transform: none; */
    transform: none;
}

.slick_prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    top: 5px;
    border-bottom: 12px solid rgba(79, 145, 205, .5);
    background: none;
    padding: 0;
    cursor: pointer;
    /* border: none; */
}

.slick_list {
    width: 242px;
    height: 38px !important;
    border-radius: 16px;
    border: 1px solid #4f91cd;
    background-color: #fff;
    margin: 0;
    padding: 0 27px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: block;
}

.slick_track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick_track:before {
    display: table;
    content: "";
}

.tag_slider .slick_slide {
    display: flex;
    max-width: 150px;
    height: 36px;
    align-items: center;
    border: 1px solid transparent;
    float: left;
    min-height: 1px;
}

.tag_slider .slick_slide a {
    text-decoration: none;
    font-size: 17px;
    color: #4f91cd;
    width: 100%;
    display: inline-block;
}

.slick_next {
    top: unset;
    bottom: 5px;
    border-top: 12px solid rgba(79, 145, 205, .5);
    background: none;
    font-size: 0;
    line-height: 0;
    position: absolute;
    padding: 0;
    cursor: pointer;
    /* border: none; */
}

.gRvgXC2 {
    display: none;
    height: 55px;
    background-color: rgb(79, 145, 205);
}

.gsEBPf {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 55px;
    box-sizing: border-box;
    min-width: 100px;
    padding: 0px 35px;
    cursor: pointer;
    text-align: center;
    letter-spacing: -1px;
}

.gsEBPf > div:first-child {
    font-size: 18px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    line-height: 55px;
}

.iBlPxD {
    width: 34px;
    height: 27px;
    float: right;
    margin-right: 70px;
    margin-top: 14px;
    cursor: pointer;
    background: url("/img/다운로드\ \(2\).png");
}

.dyksGe {
    position: relative;
    width: 100%;
    min-width: 1200px;
}

.slide_wrapper {
    height: 500px;
    margin-bottom: 30px;
    background: url("/img/title-background.811125b0.png");
    background-size: cover;
}

.hFTytI {
    width: 1200px;
    height: 100%;
    margin: 0px auto;
}

.image_slider .slick_listqw {
    width: 100%;
    margin: 0;
}

.slick_trackss {
    width: 1200px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.GGxYl {
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
}

.GGxYl > img {
    width: 1200px;
    height: 500px;
    /* box-shadow: rgb(204, 204, 204) 5px 5px 10px; */
}

.img01 {
    display: none;
}

.shortcut_wrapper {
    height: 140px;
    background-color: #f7f7f7;
}

.hFTytI12 {
    display: flex;
    align-items: center;
}

.eMxJid {
    display: flex;
    width: 240px;
    padding: 0px 10px;
    box-sizing: border-box;
}

.eMxJid > img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.eMxJid > a {
    color: rgb(89, 87, 87);
    display: flex;
    align-items: center;
}

.eMxJid > a > p {
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    max-width: 115px;
    letter-spacing: -1px;
    line-height: 1.5;
    word-break: keep-all;
}

.eMxJid > a > img {
    width: 10px;
    height: 16px;
}

.notice_wrapper {
    height: 250px;
}

.hFTytI13 {
    display: flex;
    align-items: center;
}

.gwRszI > div {
    width: 525px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
}

.dnSYJe {
    display: flex;
    width: 100%;
    height: 40px;
    margin-bottom: 6px;
}

.dnSYJe > div:first-child {
    border-top: 1px solid rgb(79, 145, 205)!important;
    border-right: 1px solid rgb(79, 145, 205)!important;
    border-left: 1px solid rgb(79, 145, 205)!important;
    border-image: initial!important;
    border-bottom: none!important;
}

.dnSYJe > div:nth-child(2n+1) {
    font-size: 18px;
    font-weight: 600;
    color: rgb(89, 87, 87);
    line-height: 40px;
    text-align: center;
    padding: 0px 50px;
    border: 1px solid rgb(201, 201, 201);
    cursor: pointer;
}

.dnSYJe > div:nth-child(2) {
    width: 9px;
    border-bottom: 1px solid rgb(79, 145, 205);
}

.dnSYJe > div:nth-child(3) {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 201, 201) rgb(201, 201, 201) rgb(79, 145, 205);
    border-image: initial;
}

.dnSYJe > div:last-child {
    flex: 1 1 0%;
    border-bottom: 1px solid rgb(79, 145, 205);
}

.tabpanel12 {

}

.tabpanel12 > ul > li {
    padding: 12px 8px 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.tabpanel12 > ul > li > a {
    max-width: 400px;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 300;
    color: rgb(89, 87, 87);
}

.tabpanel12 > ul > li > p {
    font-size: 14px;
    font-weight: 300;
    color: rgb(89, 87, 87);
}

.ksdg_wrapper {
    height: 307px;
    background-color: #e1e4e9;
}

.ksdg_wrapper>div {
    padding-top: 35px;
}

.iocgGN > div:first-child {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: -1.9px;
    color: rgb(33, 33, 33);
    margin-bottom: 23px;
}

.iocgGN > div:last-child {
    width: 110px;
    height: 2px;
    margin: 0px auto;
    background-color: rgb(65, 143, 222);
}

.ksdg_slider {
    width: 880px;
    margin: 0 auto;
    margin-top: 50px;
}

.ksdg_slider .slick_prevs {
    background: url("/img/다운로드\ \(10\).png");
}

.ksdg_slider .slick_prevs{
    left: -60px;
    position: absolute;
}

.ksdg_slider .slick_arrow {
    width: 34px;
    height: 95px;
}

.slick_tracksss {
    /* width: 30800px;
    opacity: 1;
    transform: translate3d(-880px, 0px, 0px); */
}

.ksdg_slider .slick_slide {
    width: 880px;
}

.slick-initialized .slick-slide {
    display: block;
}

/* .slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
} */

.slick_listqq {
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}

.cYzFYo {
    display: flex;
    outline: none;
    width: 880px !important;
}

.cYzFYo > img {
    display: inline-block !important;
    vertical-align: top;
    width: 120px;
    height: 120px;
    margin-right: 30px;
}

.cYzFYo > div {
    width: 730px;
    display: inline-block !important;
    vertical-align: top;
}

.cYzFYo > div > div:first-child {
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cYzFYo > div > div:nth-child(2) {
    width: 100%;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.cYzFYo > div > a {
    display: flex;
    align-items: center;
    float: right;
    margin-top: 5px;
    text-decoration: none;
}

.cYzFYo > div > a > div:first-child {
    font-size: 14px;
    font-weight: normal;
    color: rgb(65, 143, 222);
    margin-right: 4px;
}

.cYzFYo > div > a > div:last-child {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 6.5px 0px 6.5px 13px;
    border-color: transparent transparent transparent rgb(65, 143, 222);
    margin-right: 10px;
}

.ksdg_slider .slick_nexts {
    background:  url("/img/다운로드\ \(11\).png");
    right: -60px;
    top: 7px;
    position: absolute;
}

.ksdg_slider .slick_arrow {
    width: 34px;
    height: 95px;
}

.sdg_wrapper {
    height: 550px;
}

.sdg_wrapper>div {
    padding-top: 65px;
}

.fhhjme > div:first-child {
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
}

.fhhjme > div:last-child {
    width: 1192px;
    margin: 0px auto;
}

.fhhjme > div:last-child > a {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 120px;
    margin: 0px 5px 10px;
    text-decoration: none;
}

.fhhjme > div:last-child > a > img {
    width: 100%;
    height: 100%;
}

.cGwOrX {
    margin-top: auto;
    width: 100%;
    min-width: 1200px;
    height: 190px;
    background-color: rgb(225, 228, 233);
}

.ifVbzO {
    position: relative;
    box-sizing: border-box;
    width: 1200px;
    height: 100%;
    padding-left: 52px;
    margin: 0px auto;
}

.lfMHJp {
    width: 180px;
    height: 52px;
    background: url("/img/logo-header.png");
    float: left;
    margin-top: 58px;
    margin-right: 42px;
    text-decoration: none;
}

.ErYCh {
    float: left;
    width: 884px;
}

.ErYCh > div:first-child {
    margin-top: 31px;
}

.ErYCh > div:first-child > a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    color: rgb(89, 87, 87);
    text-decoration: none;
}

.fFSTK {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 12px;
    margin: 0px 18px;
    background-color: rgb(151, 151, 151);
}

.ErYCh > div:nth-child(2) {
    margin-top: 14px;
}

.ErYCh > div:nth-child(2) > div {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 500;
    color: rgb(89, 87, 87);
}

.ErYCh > div:nth-child(2) > div:nth-child(3) {
    color: rgb(79, 145, 205);
}

.ErYCh > div:nth-child(3) {
    margin-top: 9px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.79;
    color: rgb(89, 87, 87);
    white-space: pre-wrap;
}

@media (max-width: 440px) {
    .gRvgXC01 {
        display: none;
    }

    .gRvgXC1 {
        background: url("/img/title-background.811125b0.png");
        display: flex;
        min-width: unset;
        background-size: cover;
       height: 222px !important;
    }

    .hFxRwf {
        width: 100%;
        height: 117px;
        margin-top: 48px;
        background-color: rgb(255, 255, 255);
    }

    .cVZdQh {
        justify-content: center;
    }

    .cVZdQh > div:first-child {
        margin-right: 98px;
    }

    .cVZdQh > div > a > img {
        width: 429px;
    }

    .Open-Menu {
        display: block;
        position: absolute;
        left: 13px;
    }

    .bm-burger-button {
        height: 100%;
        width: 100%;
        text-align: center;
        margin-right: 55px;
    }

    .bm-burger-button>img {
        height: 61px;
        width: 84px;
}

    .iYPcvf {
        display: none;
}

    .UN-SDGs {
        display: none;
}
}



